<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trabalho Website</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <h1>Gerenciador de Horários</h1>

    <p class="subtitulo">
        Sistema para organização e gerenciamento de horários de aula.
    </p>

    <div class="menu">

        <a href="/professores" class="card">
            Professores
        </a>

        <a href="/disciplinas" class="card">
            Disciplinas
        </a>

        <a href="/turmas" class="card">
            Turmas
        </a>

        <a href="/horarios" class="card">
            Horários
        </a>

        <a href="/consultas/professor" class="card">
            Horários por Professor
        </a>

        <a href="/consultas/turma" class="card">
            Horários por Turma
        </a>

    </div>

</div>

</body>
</html>